.heading {
  text-align: center;
  margin-bottom: 5%;
}

.content {
  width: fit-content;
  background: rgb(141, 247, 247);
}

.bucket-style {
  margin-left: 17%;
}

.bucket-select {
  margin-left: 17%;
}

.select {
  margin-top: 10%;
}

.field1 {
  margin-right: 4%;
  margin-top: 4%;
  margin-left: 15%;
}

.field2 {
  margin-left: 4%;
  margin-top: 4%;
}

.quantity {
  left: 44%;
  position: absolute;
  margin-top: 2%;
}

.buttons {
  margin-top: 5%;
  position: absolute;
  left: 45%;
}

.updateButton {
  margin-right: 50px;
}

.note {
  color: blueviolet;
  position: absolute;
  left: 41%;
  font-size: xx-large;
}

.error {
  color: crimson;
  position: absolute;
  left: 41%;
  font-size: large;
}
